<?xml version="1.0" encoding="UTF-8"?>
<included>
  <property name="JSON_PATTERN" value='
    {
    "app": "${APP_NAME}",
    "level": "%level",
    "message": "%message",
    "catalog": "%mdc{catalog}",
    "location": "%logger{15}",
    "thread": "%thread",
    "timestamp": "%date",
    "spend": "%mdc{spend}",
    "stack_trace": "%exception",
    "operator": "%mdc{operator}",
    "traceId": "%mdc{traceId}"
    }
  '/>

  <springProperty defaultValue="spring-boot-application" name="APP_NAME" scope="context"
    source="spring.application.name"/>
</included>